
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

@using FastFood.Models
@model IEnumerable<NHACUNGCAP>

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            NHÀ CUNG CẤP
        </div>
        <div>
            <button class="btn btn-outline-primary"><a href="@Url.Action("Add", "AdminNhaCC")"><i class="fas fa-plus-circle" style="font-size: 150%"></i></a></button>

            <form action="Search" method="post">
                <button type="submit" class="btn btn-outline-primary sel" style="float: right">Search</button>
                <input type="text" class="form-control search" placeholder=" Search" style="float: right" name="Ten">
            </form>
        </div>

        <div>
            <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                <thead>
                    <tr>
                        <th data-breakpoints="xs">Mã NCC</th>
                        <th>Tên NCC</th>
                        <th>SĐT</th>
                        <th>Mã Xã</th>
                        <th colspan="2">Chức Năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NHACUNGCAP item in Model)
                    {
                        <tr data-expanded="true">
                            <td>@item.MaNCC</td>
                            <td>@item.Ten</td>
                            <td>@item.SDT</td>
                            <td>@item.MaXa</td>
                            <td><a href="/AdminNhaCC/Edit/@item.MaNCC"><i class="fas fa-edit" style="font-size: 150%"></i></a></td>
                            <td><a href="/AdminNhaCC/Delete/@item.MaNCC"><i class="fa fa-trash" style="font-size: 150%"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>









